@import 'tailwindcss';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {

    /* Colours */
    --color-teal: #2ABAA7;
    --color-tealDark: #1cad9a;
    --color-slateBlue: #1F2D3D;
    --color-sage: #D2E6D2;
    --color-lavender: #A78BFA;
    --color-lavenderDark: #8258fc;
    --color-indigo: #1B1F3B;
    --color-offWhite: #FAFAFA;
    --color-charcoal: #2D2D2D;

    /* Fonts */
    --font-poppins: "Poppins", sans-serif;
}

html, body {
    @apply bg-offWhite text-charcoal;
    height: 100%;
}

.navLink {
    @apply text-offWhite text-xl font-bold hover:text-lavender duration-100 transition-transform;
}

.activeLink {
    @apply text-lavender text-xl font-bold;
}